* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #928D75;
}
html {
	font-size: 62.5%;
	font-family: "Helvetica Neue Light", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
img {
	width: 100%;
}

/* HEADER */
.chocoHead {
	width: 30%;
	margin: 20% 0 0 30%;
	 transform:rotate(-20deg);
	-ms-transform:rotate(-20deg); /* Internet Explorer */
	-moz-transform:rotate(-20deg); /* Firefox */
	-webkit-transform:rotate(-20deg); /* Safari et Chrome */
	-o-transform:rotate(-20deg); /* Opera */
}
.feve {
	font-size: 2.5rem;
	width: 45%;
    font-family: 'Dancing Script', cursive;
    margin: 25% 0 0 30%;
    color: #B25528;
    text-align: center;
    transform:rotate(25deg);
	-ms-transform:rotate(25deg); /* Internet Explorer */
	-moz-transform:rotate(25deg); /* Firefox */
	-webkit-transform:rotate(25deg); /* Safari et Chrome */
	-o-transform:rotate(25deg); /* Opera */
}
@media screen and (max-width: 640px) {
	.feve {
		display: none;
	}
	.chocoHead {
		display: none;
	}
}
.head-logo{
	width: 80%;
	margin: 0 auto;
}
/* NAVBAR */
nav a {
	color: #928D75;
/* 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 */
	font-weight: 100;
	font-size: 1.5rem;
}
h3 {
	font-size: 5rem;
}
.navbar-fixed {
	padding-bottom: 10px;
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
	background-color: #fff;
	webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.dispNone {
	display: none;
	width: 125px;
	position: fixed;
	top: 8px;
	left: 30vh;
	z-index: 101;
}
@media screen and (max-width: 767px) {
	.dispNone {
		left: 15vh;
	}
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
	.dispNone {
		left: 2vh;
	}
}
.logo-fixed {
	display: block;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #9EC4E5;
    color: white;
    border-radius: 5px;
}
.navbar {
	padding-top: 10px;
	margin-bottom: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-toggle {
	background-color: #9EC4E5;
}
.icon-bar {
	background-color: white;
}
/* CAROUSEL */
.carousel-caption {
	top: 75px;
}
.carousel-inner {
	height: 650px;
}
@media screen and (max-width: 767px) {
	.carousel-inner {
		height: 175px;
	}
	.carousel-caption {
		top: 1px;
	}
	.carousel-caption h3{
		margin-top: 0px;
		font-size: 2.2rem;
	}
	.carousel-caption h4{
		font-size: 1.3rem;
	}
	.carousel-indicators {
		bottom: 0;
	}
}
@media screen and (max-width: 767px) and (orientation : landscape){
	.carousel-inner {
		height: 275px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
	.carousel-inner {
		height: 375px;
	}
}
/* SECTION GALLERIE */
#gallery {
	margin-top: 3rem;
}
#gallery img {
	height: 205px;
}
#gallery h3 {
	font-size: 2rem;
	text-transform: uppercase;
}
.simple-gal {
	margin: 1rem 0;
	/* border: solid red 1px; */
	padding: 3.5rem;
}
.simple-gal-pad {
	/* border: solid 1px blue; */
}
.simple-gal-pad p {
	margin: 3rem;
	font-size: 1.7rem;
}
.simple-gal-pad .row div {
	border: grey solid 1px;
	border-width: 1px 0;
	padding: 1rem 0;
}
.pad-one {
	padding: 0 1.2rem;
}
.pad-one a{
	text-decoration: none;
	color: grey;
	padding: 1.2rem 3.8rem;
	text-transform: uppercase;
}
.pad-one a:hover {
	/* border-radius: 5px; */
	background-color: #928D75;
	color: white;
}
/* MRTXOKOLA */
#txokola h1 {
	margin-bottom: 4rem;
}
#txokola h2 {
	font-size: 2rem;
	margin-top: 0;
}
.etiquette {
	margin-bottom: 5rem;
}
.etiquette p {
	font-size: 1.3rem;
}
.etiquette img {
	height: 265px;
}
/* PAGE CONTACT */
.h1-marg-18 {
	margin-top: 18rem;
}
form {
	margin: 4rem 0;
}
label {
	margin-top: 1rem;
}
#news-letter {
	margin-top: 1.5rem;
}
#info {
	margin-top: 3.5rem;
}
/* #info select, input {
	width: 100%;
} */
@media screen and (max-width: 767px) {
	#input-email {
	margin-top: 1.5rem;
}
}
#message input {
	width: 100%;
}
#message textarea {
	width: 100%;
}
#message .btn {
	margin-top: 1rem;
}

/* FOOTER */
footer {
	margin-top: 2rem;
	background-color: #9EC4E5;
}
/* LOGO du FOOTER */
.footerLogo {
	width: 100%;
}
.footerLogo img {
	margin-top: 2rem;
	text-align: center;
}
.padLogo {
	padding: 0;
}
@media screen and (min-width: 361px){
	.footerLogo {
		width: 70%;
		margin: auto;
	}
	.footerLogo img {
		margin-top: 1rem;
	}
}
/* CONTACT du FOOTER */
.contact a {
	text-decoration: none;
}
.contact h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: white;
	text-align: center;
}
footer p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: white;
	text-align: center;
}
@media screen and (min-width: 361px) and (max-width: 768px){
	.contact h3 {
		font-size: 2rem;
	}
	footer p {
		font-size: 1.3rem;
		line-height: 1.4rem;
	}
}
@media screen and (min-width: 769px){
	.contact h3 {
		font-size: 2rem;
	}
	.contact p {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}
/* CALENDRIER du FOOTER */
.atelier {
	width: 70%;
	margin: 2.5rem auto 0 auto;
}
.atelier a {
	text-decoration: none;
}
.atelier img {
	color: white;
}
.atelier span p {
	font-size: 1.5rem;

}
@media screen and (min-width: 361px) and (max-width: 768px){
	.atelier {
		width: 40%;
	}
}
@media screen and (min-width: 769px){
	.atelier {
		width: 30%;
	}
}
/* SOCIAL du FOOTER */
.social {
	width: 50%;
	margin: 1rem auto;
	background-color: white;
}
@media screen and (min-width: 361px) and (max-width: 768px){
	.social {
		width: 25%;
	}
}
@media screen and (min-width: 769px){
	.social {
		margin: 3rem auto;
	}
}